body {
  /* background-color: #dedede; */
  background-color: red;
}

h1 {
  color: red;
}

.bookcover {
  height: 300px;
  width: auto;
  padding: 1rem;
  background-color: red;
}

input {
  background-color: white;
}
