body {
  background-color: yellow;
}

h1 {
  color: red;
}

.bookcover {
  height: 300px;
  width: auto;
  padding: 1rem;
  background-color: blue;
  font-size: 4rem;
}

input {
  background-color: white;
}
